<nav class="navbar is-fixed is-dark">
  <div class="container">
    <!-- Brand -->
    <div class="navbar-brand">
      <a routerLink="/home" class="navbar-item">
        <img class="rotating" src="assets/images/logo/krypton-gradient.svg" alt="">
        <span class="brand-name">Ansar Nisar Gill</span>
      </a>
      <!-- Responsive toggle -->
      <span class="navbar-burger burger" data-target="navbarMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <!-- Menu -->
    <div id="navbarMenu" class="navbar-menu light-menu">
      <div class="navbar-end">
        <div class="navbar-item is-nav-link">
          <a class="is-centered-responsive" routerLink="/cv">CV</a>
        </div>
        <div class="navbar-item is-nav-link">
          <a class="is-centered-responsive" routerLink="/portfolio">Portfolio</a>
        </div>
        <div class="navbar-item">
          <a routerLink="/blog" class="button k-button k-primary raised has-gradient slanted">
            <span class="text">Blog</span>
            <span class="front-gradient"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>