<div class="card">
  <div class="card-content">
    <p class="title is-light">
      {{Post.title}}
    </p>
    <p class="subtitle is-light" >
      {{Post.publishedAt|date:"fullDate"|uppercase}}
    </p>
    <div>
      <span class="tag is-info">{{Post.tag}}</span>
    </div>
    <br>
    <div class=" TextFont" [innerHTML]="Post.intro">.</div>

  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <a class="button is-rounded is-info is-outlined" routerLink="/post/{{Post.id}}"><b>READ MORE &raquo;</b></a>
    </p>

  </footer>
</div>