<div class="align-content-center" *ngFor="let p of projects">
  <div class="card column is-6 is-offset-3" style="margin-top: 30px;">
    <header class="card-header">
      <p class="white card-header-title">
        <span>{{p.title}}</span>
        <span class="is-pulled-right " style="margin-left: 10px;">
          <a>
            <span class="tag is-default is-primary" title="Current Version">{{p.version}}</span>
          </a>
        </span>

      </p>
    </header>
    <div class="card-content">
      <figure class="image">
        <a href="{{p.demoUrl}}" target="_blank"><img src="{{p.pictureUrl}}" alt="{{p.title}} screenshot"></a>
      </figure>
    </div>
    <footer class="card-footer">
      <a href="{{p.demoUrl}}" target="_blank" class=" white card-footer-item"><i class=" eva eva-code"
          aria-hidden="true"></i>Preview</a>
      <a href="{{p.githubUrl}}" target="_blank" class="white card-footer-item"><i class="eva eva-github" aria-hidden="true"></i>Source</a>
    </footer>
  </div>
</div>
