<div class="container content-wrapper">
  <div class="columns is-multiline" *ngFor="let p of projects">
    
    <div class="column is-4-desktop is-3-widescreen is-half-tablet">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            <span>{{p.title}}</span>
            <span class="is-pulled-right">
              <a>
                <span class="tag is-default is-primary" title="Current Version">"v{{p.version}}"</span>
              </a>
              <span *ngIf="p.desktopSupport" class="tag is-default is-info"><i class="fas fa-desktop" title="Desktop Support" aria-hidden="true"></i><span class="sr-only">Desktop Support</span></span>
              <span *ngIf="p.mobileSupport" class="tag is-default is-info"><i class="fas fa-mobile-alt" title="Mobile Support" aria-hidden="true"></i><span class="sr-only">Mobile Support</span></span>
            </span>
          </p>
        </header>
        <div class="card-content">
          <figure class="image">
            <a href="{{p.demoUrl}}"><img src="{{p.pictureUrl}}" alt="{{p.title}} screenshot"></a>
          </figure>
        </div>
        <footer class="card-footer">
          <a href="{{p.demoUrl}}" target="_blank" class="card-footer-item"><i class="fas fa-search" aria-hidden="true"></i>Preview</a>
          <a href="{{p.githubUrl}}" target="_blank" class="card-footer-item"><i class="fas fa-code" aria-hidden="true"></i>Source Code</a>
        </footer>
      </div>
    </div>
  </div>
</div>