        <div class="dark-wrapper">
          <section class="hero is-fullheight is-transparent">
            <div class="hero-head">

              <app-navbar></app-navbar>

            </div>

            <!-- Hero Image and Title -->
            <div class="hero-body">
              <div class="container">
                <div class="columns is-vcentered">
                  <router-outlet></router-outlet>
                </div>
              </div>
            </div>


          </section>

        </div>
