<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="/assets/an.png" style="width:100%" alt="Ansar Nisar's Picture">
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-black"></i>Software Developer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-black"></i>Gujranwala, PK</p>
          <a href="mailto:ansarnisargill@gmail.com"><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-black"></i>ansarnisargill@gmail.com</a>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-black"></i>+92 307 425 7049</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-black"></i>Skills</b></p>
          <p>C#, dotnet, asp.net</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-black" style="width:90%">90%</div>
          </div>
          <p>Javascript, Typescript, Node.js</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-black" style="width:80%">
              <div class="w3-center w3-text-white">80%</div>
            </div>
          </div>
          <p>WPF, Winform</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-black" style="width:75%">75%</div>
          </div>
          <p>Angular</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-black" style="width:50%">50%</div>
          </div>
          <br>

          <p class="w3-large w3-text-theme"><b><i
                class="fa fa-globe fa-fw w3-margin-right w3-text-black"></i>Languages</b></p>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-black" style="height:24px;width:100%"></div>
          </div>
          <p>Urdu</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-black" style="height:24px;width:100%"></div>
          </div>
          <br>
        </div>
      </div><br>

      <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i
            class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-black"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Software Developer / DHA Gujranwala</b></h5>
          <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i>July 2018 - <span
              class="w3-tag w3-black w3-round">Current</span></h6>
          <p>Analyzes requirements, design systems, and develop software for fast-paced workflow in this organization.

            Analyzed organization workflow to automate internal tasks: was hired to build the internal suite of Applications in the organization which would make existing workflow efficient and fast. So developed the organization’s Plot and Land Management systems which increased the time efficiency of the process to 50%. Automated report generation, challan generation, data entry tasks. 
            Migrated Records, Developed Highly performant Financial System: Developed Financial system using the latest .NET stack employing WPF to build desktop application which is being used internally to produce Financial documents such as Balance Reports, Vouchers and Voucher Reports. Also migrated existing Financial records from excel sheets, Legacy application into the latest, faster system. The financial system was built to handle simultaneous users and concurrency. 
            Built interconnected microservices to update Website: Participated in building highly interconnected suits of services that worked together to produce performant and easy to use a cluster of apps. Used ASP.NET MVC and Web API stack to connect local databases and software to web-facing interface to provide installment related services to customers. </p>
          <hr>
        </div>
        
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i
            class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-black"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Punjab University</b></h5>
          <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2014 - 2018</h6>
          <p>BS(Hons.) Information Technology</p>
          <hr>
        </div>
      </div>

      <!-- End Right Column -->
    </div>

    <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>
<a href="https://docs.google.com/document/d/19-Tyvgkoc-3kviU6-7cupcYWgHBal9VBLiRKNtE07Vk/edit?usp=sharing" class="w3-btn w3-black w3-block w3-margin">Get Google Docs Copy</a>
