@import url("https://fonts.googleapis.com/css?family=Roboto|Inconsolata|Kaushan+Script");
.FancyFont{
    font-family:'Dancing Script', cursive;
}
.HeadingFont{
    font-family:'PT Sans', cursive;
    font-size: x-large;
}
.TextFont{
    font-family:'PT Serif', cursive;
}
.white{
    color: white !important;
}